@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&family=Syncopate:wght@700&display=swap');
:root {
    --primary-color: #22577A;
    --secondary-color: #FF9F1C;
    --accent1-color: #CBF3F0;
    --accent2-color: #2EC4B6;

    --heading-font: 'Syncopate', sans serif;
    --paragraph-font: 'Outfit', sans serif;

    --nav-background-color:var(--primary-color);
    --nav-link-color:var(--secondary-color);
    --nav-hover-link-color:var(--accent1-color);
    --nav-hover-background-color:var(--accent2-color);
}

body {
    font-family: var(--paragraph-font);
    max-width: 700px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
 font-family: var(--heading-font);
 color: var(--primary-color);
}

header{
    padding: 20px;
    background-color: var(--primary-color)
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;    
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-hover-link-color);
}

nav a:hover {
    color: var(--nav-hover-background-color);
}